body {
    background-color: antiquewhite;
    text-align: center;
}

h1, h2, h3, p {
    margin: 2%;
}

a {
    color: black;
    text-decoration: none;
    background-color: skyblue;
    padding: 0.5%;
    border: 4px solid royalblue;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
}

a:hover {
    background-color: yellow;
}

.board {
    display: inline-block;
    background-color: lightsalmon;
    width: 60%;
    padding: 3%;
    border-radius: 10px;
    margin: 1%;
}

.board p {
    margin: 2.7%;
}

.block {
    padding: 3%;
    border-bottom: black dotted 5px;
}

.text {
    text-align: left;
    margin: 0;
    font-size: large;
}

.text p, .text ul {
    margin: auto;
}

.text h2 {
    margin: 0 2% 1% 2%;
}

.text h3 {
    margin: 3% 1% 1% 1%;
}

select {
    width: 70%;
    padding: 0.2%;
    cursor: pointer;
    font-size: medium;
    background-color: skyblue;
    border: 4px solid royalblue;
    border-radius: 5px;
}

input[type=text], input[type=password] {
    width: 60%;
    background-color: white;
    padding: 0.5%;
    border: 3px solid royalblue;
    font-size: medium;
}

input[type=submit], button {
    background-color: skyblue;
    padding: 0.5%;
    border: 4px solid royalblue;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
}

select:hover, select:focus, input[type=text]:focus, input[type=text]:hover, input[type=submit]:hover, button:hover {
    background-color: yellow;
}

.deleteButton {
    background-color: lightcoral;
    border-color: darkred;
}