body {
    background-color: white;
    text-align: center;
    overflow-wrap: break-word;
}

h1, h2, h3, p {
    margin: 2%;
}

a {
    color: black;
    text-decoration: none;
    background-color: skyblue;
    padding: 0.5%;
    border: 4px solid royalblue;
    font-size: larger;
    font-weight: bold;
}

.shortText a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a:hover {
    background-color: lemonchiffon;
}

.menu {
    display: inline-block;
    position: fixed;
    width: 19%;
    margin: 1% 1% 1% 1%;
}

.mainMenu {
    left: 0;
}

.contextMenu {
    right: 0;
}

.menu p {
    margin: 4%;
}

.menu a {
    padding: 2%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.menuBoard {
    background-color: lightblue;
    padding: 5%;
    margin-bottom: 3%;
}

.messageBoard {
    background-color: lightgreen;
    padding: 5%;
    margin-bottom: 3%;
}

.delete {
    background-color: lightcoral;
}

.mainBoard {
    display: inline-block;
    width: 55%;
    margin: 1% 1% 1% 1%;
}

.board {
    background-color: lightblue;
    padding: 3%;
    margin-bottom: 3%;
}

.board p {
    margin: 2.7%;
}

.block {
    padding: 3%;
    border-bottom: black dotted 5px;
}

.text {
    text-align: left;
    font-size: large;
    padding: 5%;
}

.text p, .text ul {
    margin: auto;
}

select {
    width: 50%;
    padding: 0.2%;
    cursor: pointer;
    font-size: medium;
    background-color: skyblue;
    border: 4px solid royalblue;
}

input[type=text], input[type=password], textarea {
    width: 35%;
    background-color: white;
    padding: 0.5%;
    border: 3px solid royalblue;
    font-size: medium;
}

input[type=submit], button {
    background-color: skyblue;
    padding: 0.5%;
    border: 4px solid royalblue;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
}

input[type=checkbox] {
    cursor: pointer;
    transform: scale(2);
    margin: 1.2%;
}

select:hover, select:focus, input[type=text]:focus, input[type=text]:hover, input[type=password]:focus, input[type=password]:hover, input[type=submit]:hover, button:hover, textarea:focus, textarea:hover {
    background-color: lemonchiffon;
}

textarea {
    resize: none;
}

.deleteButton {
    background-color: lightcoral;
    border-color: darkred;
}

.leftButton {
    display: inline;
}

.rightButton {
    display: inline;
}

.error {
    color: crimson;
}

@media screen and (max-width:600px) {
    .menu {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .mainBoard {
        width: 100%;
        margin: 0;
    }
}