<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Interakcyjny Edytor Scenariuszy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="menu mainMenu">
            <div class="menuBoard">
                <h1>Menu główne</h1>
                <p><a href="{{ url_for('menu') }}">Strona główna</a></p>
                <p><a href="{{ url_for('scenarios') }}">Lista scenariuszy</a></p>
                <p><a href="{{ url_for('stories') }}">Lista historii</a></p>
                {% if isAdmin %}
                    <p><a href="{{ url_for('users') }}">Lista użytkowników</a></p>
                {% endif %}
                <p><a href="{{ url_for('gamebooks') }}">Gry paragrafowe</a></p>
                <p><a href="{{ url_for('instructions') }}">Instrukcje</a></p>
                {% if session.get('scenarioPath') and request.path != '/question' %}
                    <p><a href="{{ url_for('question') }}">Wznów scenariusz</a></p>
                {% endif %}
            </div>
        </div>
        {% block body %}{% endblock %}
        <div class="footer">&copy; Bernard Świątek</div>
    </body>
</html>