<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Interakcyjny Edytor Scenariuszy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="menu mainMenu">
            <div class="menuBoard">
                <button class="collapseMenu">&#9776 Menu główne</button>
                <div class="menuContent">
                    <p><a href="{{ url_for('menu') }}">Strona główna</a></p>
                    <p><a href="{{ url_for('scenarios') }}">Lista scenariuszy</a></p>
                    <p><a href="{{ url_for('stories') }}">Lista historii</a></p>
                    {% if isAdmin %}
                        <p><a href="{{ url_for('users') }}">Lista użytkowników</a></p>
                    {% endif %}
                    <p><a href="{{ url_for('gamebooks') }}">Gry paragrafowe</a></p>
                    <p><a href="{{ url_for('instructions') }}">Instrukcje</a></p>
                    <p><a href="{{ url_for('info') }}">O serwisie</a></p>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category != 'error' %}
                            <div class="messageBoard {{ category }}">
                                <h3>{{ message }}</h3>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block body %}{% endblock %}
        <div class="footer">&copy; Bernard Świątek</div>
        <script>
        var menus = document.getElementsByClassName("collapseMenu");

        for (var i = 0; i < menus.length; i++) {
          menus[i].addEventListener("click", function() {
            this.nextElementSibling.classList.toggle("toggleMenu");
          });
        }
        </script>
    </body>
</html>