<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Interakcyjny Edytor Scenariuszy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% if session.get('userId') == None %}
            <p><a href="{{ url_for('login') }}">Logowanie</a>
                <a href="{{ url_for('register') }}">Rejestracja</a></p>
        {% else %}
            <p><a href="{{ url_for('logout') }}">Wyloguj się</a></p>
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>