{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="board">
        <h1>Zmiana hasła</h1>
        {% if wrongOldPassword %}
            <h3>Złe stare hasło</h3>
        {% endif %}
        {% if wrongNewPasswords %}
            <h3>Nowe hasła się nie zgadzają</h3>
        {% endif %}
        <form action="{{ url_for('changePassword', userId=userId) }}" method="post">
            {% if not noOldPassword %}
                <h2>Stare hasło:</h2><p><input name='oldPassword' type="password" required="required"></p>
            {% endif %}
            <h2>Nowe hasło:</h2><p><input name='newPassword' type="password" required="required"></p>
            <h2>Powtórz nowe hasło:</h2><p><input name='repeatNewPassword' type="password" required="required"></p>
            <p><input type="submit" value="Zmień hasło"></p>
        </form>
    </div>
{% endblock %}