{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    {% if wrongOldPassword %}
        <h2>Złe stare hasło</h2>
    {% endif %}
    {% if wrongNewPasswords %}
        <h2>Nowe hasła się nie zgadzają</h2>
    {% endif %}
    <form action="{{ url_for('changePassword', userId=userId) }}" method="post">
        {% if not noOldPassword %}
            <h1>Stare hasło:</h1><p><input name='oldPassword' type="password" required="required"></p>
        {% endif %}
        <h1>Nowe hasło:</h1><p><input name='newPassword' type="password" required="required"></p>
        <h1>Powtórz nowe hasło:</h1><p><input name='repeatNewPassword' type="password" required="required"></p>
        <p><input type="submit" value="Zmień hasło"></p>
    </form>
{% endblock %}