{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="mainBoard">
        <div class="board">
            <h1>Zmiana hasła</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3 class="error">{{ message }}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('changePassword', userId=userId) }}" method="post">
                {% if not noOldPassword %}
                    <h2>Stare hasło:</h2><p><input name='oldPassword' type="password" required="required" autofocus></p>
                {% endif %}
                <h2>Nowe hasło:</h2><p><input name='newPassword' type="password" required="required" autofocus></p>
                <h2>Powtórz nowe hasło:</h2><p><input name='repeatNewPassword' type="password" required="required"></p>
                <p><input type="submit" value="Zmień hasło"></p>
            </form>
        </div>
    </div>
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
    </div>
{% endblock %}