{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="mainBoard">
        <div class="board">
            <h2>USUWANIE ELEMENTU:</h2>
            {% if elementData['name'] == 'user' %}
                <h3>Użytkownik: {{ elementData['username'] }}</h3>
                <h3>UWAGA!<br>Scenariusze i historie użytkownika NIE zostaną usunięte automatycznie!<br>
                    Jeśli ich nie usuniesz pozostaną one w bazie jako scenariusze i historie bez twórcy.</h3>
                <form action="{{ url_for('deleteUser', confirmDelete=True, userId=elementData['id']) }}" method="post">
                    <h3>Czy chcesz również usunąć wszystkie SCENARIUSZE użytkownika?</h3>
                    <p><select name="deleteUserScenarios">
                        <option value="No" selected="selected">NIE</option>
                        <option value="Yes">TAK</option>
                    </select></p>
                    <h3>Czy chcesz również usunąć wszystkie HISTORIE użytkownika?</h3>
                    <p><select name="deleteUserStories">
                        <option value="No" selected="selected">NIE</option>
                        <option value="Yes">TAK</option>
                    </select></p><br>
                    <p class="leftButton"><a href="{{ url_for('userProfile', userId=elementData['id']) }}">Anuluj</a></p>
                    <p class="rightButton"><button class="deleteButton" type="submit">Usuń konto</button></p>
                </form>
            {% elif elementData['name'] == 'scenario' %}
                <h3>Scenariusz: {{ elementData['scenarioName'] }}</h3><br>
                <p class="leftButton"><a href="{{ url_for('userProfile', userId=elementData['scenarioOwner']) }}">Anuluj</a></p>
                <p class="rightButton"><a class="deleteButton" href="{{ url_for('deleteScenario', confirmDelete=True, scenarioId=elementData['id']) }}">Usuń</a></p>
            {% elif elementData['name'] == 'story' %}
                <h3>Historia: {{ elementData['storyName'] }}</h3><br>
                <p class="leftButton"><a href="{{ url_for('userProfile', userId=elementData['storyOwner']) }}">Anuluj</a></p>
                <p class="rightButton"><a class="deleteButton" href="{{ url_for('userStory', confirmDelete=True, storyId=elementData['id']) }}">Usuń</a></p>
            {% elif elementData['name'] == 'question' %}
                <h3>Pytanie: {{ elementData['questionText'] }}</h3><br>
                <p class="leftButton"><a href="{{ url_for('editScenario', _anchor=elementData['name']+elementData['id']) }}">Anuluj</a></p>
                <p class="rightButton"><a class="deleteButton" href="{{ url_for('deleteQuestion', confirmDelete=True, questionId=elementData['id']) }}">Usuń</a></p>
            {% elif elementData['name'] == 'optionalText' %}
                <h3>Tekst opcjonalny: {{ elementData['text'] }}</h3><br>
                <p class="leftButton"><a href="{{ url_for('editQuestion', _anchor=elementData['name']+elementData['id']) }}">Anuluj</a></p>
                <p class="rightButton"><a class="deleteButton" href="{{ url_for('deleteQuestionElement', confirmDelete='optionalText', optionalTextId=elementData['id']) }}">Usuń</a></p>
            {% elif elementData['name'] == 'answer' %}
                <h3>Odpowiedź: {{ elementData['text'] }}</h3><br>
                <p class="leftButton"><a href="{{ url_for('editQuestion', _anchor=elementData['name']+elementData['id']) }}">Anuluj</a></p>
                <p class="rightButton"><a class="deleteButton" href="{{ url_for('deleteQuestionElement', confirmDelete='answer', answerId=elementData['id']) }}">Usuń</a></p>
            {% endif %}
        </div>
    </div>
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
    </div>
{% endblock %}