{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <p><a href="{{ url_for('menu') }}">Menu główne</a></p>
    <p><a href="{{ url_for('userProfile') }}">Mój profil</a></p>
    <div class="board">
        <form action="{{ url_for('editScenario') }}" method="post">
            <h1>Nazwa scenariusza:</h1><p><input name='name' type="text" value="{{ scenarioList[session['scenarioId']]['name'] }}"></p>
            <h1>Pytanie startowe:</h1><p><input name='startingQuestion' type="text" value="{{ scenarioList[session['scenarioId']]['startingQuestion'] }}"></p>
            <p><input type="submit" value="Zatwierdź zmiany"></p>
        </form>
        <p>
            <a href="{{ url_for('edit', createQuestion=True) }}">Dodaj pytanie</a>
            <a class="deleteButton" href="{{ url_for('userProfile', scenarioId=session['scenarioId']) }}">Usuń scenariusz</a>
        </p>
        <p>
            <a href="{{ url_for('start') }}">Test scenariusza</a>
        </p>
    </div>
    {% for key in scenarioList[session['scenarioId']]['questions'].keys() %}
        <div class="board">
            <h2>{{ scenarioList[session['scenarioId']]['questions'][key]['text'] }}</h2>
            <p>
                <a href="{{ url_for('edit', questionId=key) }}">Edytuj</a>
                <a class="deleteButton" href="{{ url_for('editScenario', questionId=key) }}">Usuń</a>
            </p>
        </div>
    {% endfor %}
{% endblock %}