{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <p><a href="{{ url_for('menu') }}">Menu główne</a></p>
    <form action="{{ url_for('editScenario') }}" method="post">
        <p><input name='text' type="text" value="{{ scenario['questions'][questionId]['text'] }}"></p>
        {% for key, text in scenario['questions'][questionId]['optionalText'].items() %}
            <p><input name='optionalText{{ key }}' type="text" value="{{ text['text'] }}"></p>
            <p><select name="optionalTextConditionalQuestionId{{ key }}">
                {% for key, question in scenario['questions'].items() %}
                    <option value="{{ key }}">{{ question['text'] }}</option>
                {% endfor %}
            </select></p>
        {% endfor %}
        {% for answer, text in scenario['questions'][questionId]['answers'].items() %}
            <p><input name='answerText{{ answer }}' type="text" value="{{ text['text'] }}">
            <p><select name="answerQuestionId{{ answer }}">
                {% for key, question in scenario['questions'].items() %}
                    <option value="{{ key }}"{% if scenario['questions'][questionId]['answers'][answer]['questionId'] == key|int %} selected{% endif %}>{{ question['text'] }}</option>
                {% endfor %}
            </select></p>
            <p><select name="answerConditionalQuestionId{{ answer }}">
                <option value="">Żadne</option>
                {% for key, question in scenario['questions'].items() %}
                    <option value="{{ key }}">{{ question['text'] }}</option>
                {% endfor %}
            </select></p>
        {% endfor %}
        <input type="submit" value="Zatwierdź zmiany">
    </form>
{% endblock %}