{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
        <div class="menuBoard">
            <button class="collapseMenu">&#9776 Menu kontekstowe</button>
            <div class="menuContent">
                <p><a href="{{ url_for('editQuestion', createQuestion=True) }}">Dodaj pytanie</a></p>
                <p><a href="{{ url_for('editScenario', createKeyWord=True ) }}">Dodaj słowo kluczowe</a></p>
                <p><a href="{{ url_for('start') }}">Test scenariusza</a></p>
                {% if ownerExists %}
                    <p><a href="{{ url_for('userProfile', userId=scenario['user']) }}">Profil twórcy</a></p>
                {% endif %}
                {% if isGranted %}
                    <p><a class="deleteButton" href="{{ url_for('deleteScenario', scenarioId=session['scenarioId']) }}">Usuń scenariusz</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="mainBoard">
        <div class="board">
            <h1>Edycja scenariusza</h1>
            <form action="{{ url_for('editScenario') }}" method="post">
                <div class="block">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'error' %}
                                    <h3 class="error">{{ message }}</h3>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <h2>Nazwa scenariusza:</h2><p><input name='name' type="text" required="required" value="{{ scenario['name'] }}" autofocus></p>
                    <h2>Pytanie startowe:</h2><p><textarea rows="3" name="startingQuestion" required="required">{{ scenario['startingQuestion'] }}</textarea></p>
                    <h2>Komunikat w przypadku braku słów kluczowych:</h2><p><textarea rows="3" name="noKeyWordsMessage" required="required">{{ scenario['noKeyWordsMessage'] }}</textarea></p>
                    <h2>Pierwsze pytanie scenariusza:</h2>
                    <p><select name="firstQuestion">
                        {% for questionKey, question in scenario['questions'].items() %}
                            <option value="{{ questionKey }}"{% if scenario['firstQuestion'] == questionKey %} selected="selected"{% endif %}>{{ question['text']|truncate(40) }}</option>
                        {% endfor %}
                    </select></p>
                    <h2>Możliwość cofania:<input type="checkbox" name="goBack" value="true" {% if scenario['goBack'] %}checked{% endif %}></h2>
                    {% if isGranted %}
                        <h2>Scenariusz publiczny:<input type="checkbox" name="publicView" value="true" {% if scenario['publicView'] %}checked{% endif %}></h2>
                        <h2>Wszyscy mogą edytować:<input type="checkbox" name="publicEdit" value="true" {% if scenario['publicEdit'] %}checked{% endif %}></h2>
                    {% endif %}
                    <p><input type="submit" value="Zatwierdź zmiany"></p>
                </div>
                <br><h1 id="keyWords">Słowa kluczowe:</h1>
                {% if scenario['keyWords'] %}
                    {% for keyWordKey, keyWord in scenario['keyWords'].items() %}
                        <p><input name='keyWord{{ keyWordKey }}' type="text" required="required" value="{{ keyWord }}"></p>
                        <p><a class="deleteButton" href="{{ url_for('editScenario', keyWordId=keyWordKey) }}">Usuń słowo kluczowe</a></p>
                    {% endfor %}
                {% else %}
                    <h2 class="error">Brak słów kluczowych</h2>
                {% endif %}
            </form>
        </div>
        <div class="board">
            <h1 id="questions">Lista pytań</h1>
            {% if not scenario['questions'] %}
                <h2 class="error">Brak pytań</h2>
            {% endif %}
        </div>
        {% if scenario['questions'] %}
            {% for questionKey, question in scenario['questions'].items() %}
                <div class="board" id="question{{ questionKey }}">
                    <h2>{{ question['text'] }}</h2>
                    {% if question['previousQuestions'] %}
                        <br><h3>Pytania poprzedzające:</h3>
                    {% endif %}
                    {% for previousQuestion in question['previousQuestions'] %}
                        <p class="blockList"><a href="{{ url_for('editScenario', _anchor = 'question'+previousQuestion.split('-')[0]) }}">{{ scenario['questions'][previousQuestion.split('-')[0]]['text']|truncate(50) }} &rarr; {{ scenario['questions'][previousQuestion.split('-')[0]]['answers'][previousQuestion.split('-')[1]]['text']|truncate(50) }}</a></p>
                    {% endfor %}
                    {% if question['answers'] %}
                        <br><h3>Odpowiedzi:</h3>
                    {% endif %}
                    {% for answerKey, answer in question['answers'].items() %}
                        <p class="blockList"><a href="{{ url_for('editScenario', _anchor = 'question'+answer['questionId']) }}">{{ answer['text']|truncate(50) }} &rarr; {{ scenario['questions'][answer['questionId']]['text']|truncate(50) }}</a></p>
                    {% endfor %}
                    <br><p>
                        <a href="{{ url_for('editQuestion', questionId=questionKey) }}">Edytuj pytanie</a>
                        <a class="deleteButton" href="{{ url_for('deleteQuestion', questionId=questionKey) }}">Usuń pytanie</a>
                    </p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}