{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <p><a href="{{ url_for('menu') }}">Menu główne</a></p>
    <p><a href="{{ url_for('list') }}">Lista scenariuszy</a></p>
    <form action="{{ url_for('editScenario') }}" method="post">
        <h2>Nazwa scenariusza:</h2><p><input name='name' type="text" value="{{ session['scenario']['name'] }}"></p>
        <h2>Pytanie startowe:</h2><p><input name='startingQuestion' type="text" value="{{ session['scenario']['startingQuestion'] }}"></p>
        <input type="submit" value="Zatwierdź zmiany">
    </form>
    <p>
        <a href="{{ url_for('edit', createQuestion=True) }}">Dodaj pytanie</a>
        <a class="deleteButton" href="{{ url_for('list', deleteScenario=True, scenarioId=session['scenario']['id']) }}">Usuń scenariusz</a>
    </p>
    {% for key in session['scenario']['questions'].keys() %}
        <div class="board">
            <h3>{{ session['scenario']['questions'][key]['text'] }}</h3>
            <p>
                <a href="{{ url_for('edit', questionId=key) }}">Edytuj</a>
                <a class="deleteButton" href="{{ url_for('editScenario', deleteQuestion=True, questionId=key) }}">Usuń</a>
            </p>
        </div>
    {% endfor %}
{% endblock %}