{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
        <div class="menuBoard">
            <h1>Menu kontekstowe</h1>
            <p><a href="{{ url_for('editScenario', _anchor='question'+questionId) }}">Lista pytań</a></p>
            <p><a href="{{ url_for('editQuestion', element='optionalText' ) }}">Dodaj tekst opcjonalny</a></p>
            <p><a href="{{ url_for('editQuestion', element='answer' ) }}">Dodaj odpowiedź</a></p>
            <p><a href="{{ url_for('start') }}">Test scenariusza</a></p>
            {% if ownerExists %}
                <p><a href="{{ url_for('userProfile', userId=scenario['user']) }}">Profil twórcy</a></p>
            {% endif %}
            <p><a class="deleteButton" href="{{ url_for('deleteQuestion', questionId=session['questionId']) }}">Usuń pytanie</a></p>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="messageBoard {{ category }}">
                        <h3>{{ message }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="mainBoard">
        <div class="board">
            <h1>Edycja pytania</h1>
            <form action="{{ url_for('editQuestion') }}" method="post">
                <div class="block">
                    <h2>Treść pytania:</h2>
                    <p><input name='text' type="text" required="required" value="{{ scenario['questions'][questionId]['text'] }}" autofocus></p>
                    <p><input type="submit" value="Zatwierdź zmiany"></p>
                </div>
                {% if scenario['questions'][questionId]['optionalTexts'] %}
                    <div class="block">
                        <h1>Teksty opcjonalne:</h1>
                        {% for optionalTextKey, optionalText in scenario['questions'][questionId]['optionalTexts'].items() %}
                            <h2 id="optionalText{{ optionalTextKey }}">Treść tekstu {{ optionalTextKey|int + 1 }} :</h2>
                            <p><input name='optionalText{{ optionalTextKey }}' type="text" required="required" value="{{ optionalText['text'] }}"></p>
                            <h3>Pytania warunkowe:</h3>
                            <p><a href="{{ url_for('editQuestion', requirement='optionalTexts-conditionalAnswers-'+optionalTextKey) }}">Dodaj odpowiedź warunkową</a></p>
                            {% for requirementKey in range(optionalText['conditionalAnswers']|length) %}
                                <p><select name="optionalText{{ optionalTextKey }}ConditionalAnswers{{ requirementKey }}">
                                    {% for questionKey, question in scenario['questions'].items() %}
                                        {% for questionAnswerKey, questionAnswer in question['answers'].items() %}
                                            <option value="{{ questionKey }}-{{ questionAnswerKey }}"{% if optionalText['conditionalAnswers'][requirementKey] == questionKey+"-"+questionAnswerKey %} selected="selected"{% endif %}>{{ questionAnswer['text']|truncate(20) }} &larr; {{ question['text']|truncate(20) }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select></p>
                                <p><a class="deleteButton" href="{{ url_for('editQuestion', requirement='optionalTexts-conditionalAnswers-'+optionalTextKey+'-'+requirementKey|string) }}">Usuń odpowiedź warunkową</a></p>
                            {% endfor %}
                            <h3>Pytania wykluczające:</h3>
                            <p><a href="{{ url_for('editQuestion', requirement='optionalTexts-exclusionAnswers-'+optionalTextKey) }}">Dodaj odpowiedź wykluczającą</a></p>
                            {% for requirementKey in range(optionalText['exclusionAnswers']|length) %}
                                <p><select name="optionalText{{ optionalTextKey }}ExclusionAnswers{{ requirementKey }}">
                                    {% for questionKey, question in scenario['questions'].items() %}
                                        {% for questionAnswerKey, questionAnswer in question['answers'].items() %}
                                            <option value="{{ questionKey }}-{{ questionAnswerKey }}"{% if optionalText['exclusionAnswers'][requirementKey] == questionKey+"-"+questionAnswerKey %} selected="selected"{% endif %}>{{ questionAnswer['text']|truncate(20) }} &larr; {{ question['text']|truncate(20) }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select></p>
                                <p><a class="deleteButton" href="{{ url_for('editQuestion', requirement='optionalTexts-exclusionAnswers-'+optionalTextKey+'-'+requirementKey|string) }}">Usuń odpowiedź wykluczającą</a></p>
                            {% endfor %}<br>
                            <p><a class="deleteButton" href="{{ url_for('deleteQuestionElement', optionalTextId=optionalTextKey) }}">Usuń tekst opcjonalny</a></p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if scenario['questions'][questionId]['answers'] %}
                    <div class="block">
                        <h1>Odpowiedzi:</h1>
                        {% for answerKey, answer in scenario['questions'][questionId]['answers'].items() %}
                            <h2 id="answer{{ answerKey }}">Treść odpowiedzi {{ answerKey|int + 1 }} :</h2>
                            <p><input name='answerText{{ answerKey }}' type="text" required="required" value="{{ answer['text'] }}"></p>
                            <h3>Pytanie docelowe:</h3>
                            <p><select name="answerQuestionId{{ answerKey }}">
                                {% for questionKey, question in scenario['questions'].items() %}
                                    <option value="{{ questionKey }}"{% if scenario['questions'][questionId]['answers'][answerKey]['questionId'] == questionKey %} selected="selected"{% endif %}>{{ question['text']|truncate(40) }}</option>
                                {% endfor %}
                            </select></p>
                            <h3>Pytania warunkowe:</h3>
                            <p><a href="{{ url_for('editQuestion', requirement='answers-conditionalAnswers-'+answerKey) }}">Dodaj odpowiedź warunkową</a></p>
                            {% for requirementKey in range(answer['conditionalAnswers']|length) %}
                                <p><select name="answer{{ answerKey }}ConditionalAnswers{{ requirementKey }}">
                                    {% for questionKey, question in scenario['questions'].items() %}
                                        {% for questionAnswerKey, questionAnswer in question['answers'].items() %}
                                            <option value="{{ questionKey }}-{{ questionAnswerKey }}"{% if answer['conditionalAnswers'][requirementKey] == questionKey+"-"+questionAnswerKey %} selected="selected"{% endif %}>{{ questionAnswer['text']|truncate(20) }} &larr; {{ question['text']|truncate(20) }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select></p>
                                <p><a class="deleteButton" href="{{ url_for('editQuestion', requirement='answers-conditionalAnswers-'+answerKey+'-'+requirementKey|string) }}">Usuń odpowiedź warunkową</a></p>
                            {% endfor %}
                            <h3>Pytania wykluczające:</h3>
                            <p><a href="{{ url_for('editQuestion', requirement='answers-exclusionAnswers-'+answerKey) }}">Dodaj odpowiedź wykluczającą</a></p>
                            {% for requirementKey in range(answer['exclusionAnswers']|length) %}
                                <p><select name="answer{{ answerKey }}ExclusionAnswers{{ requirementKey }}">
                                    {% for questionKey, question in scenario['questions'].items() %}
                                        {% for questionAnswerKey, questionAnswer in question['answers'].items() %}
                                            <option value="{{ questionKey }}-{{ questionAnswerKey }}"{% if answer['exclusionAnswers'][requirementKey] == questionKey+"-"+questionAnswerKey %} selected="selected"{% endif %}>{{ questionAnswer['text']|truncate(20) }} &larr; {{ question['text']|truncate(20) }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select></p>
                                <p><a class="deleteButton" href="{{ url_for('editQuestion', requirement='answers-exclusionAnswers-'+answerKey+'-'+requirementKey|string) }}">Usuń odpowiedź wykluczającą</a></p>
                            {% endfor %}<br>
                            <p><a class="deleteButton" href="{{ url_for('deleteQuestionElement', answerId=answerKey) }}">Usuń odpowiedź</a></p>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}