{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="mainBoard">
        <div class="board text">
            <h1>O grach paragrafowych</h1>
            <p>Gra paragrafowa (inaczej: gra książkowa, paragrafówka, gamebook) to książka składająca się z paragrafów,
                czyli fragmentów tekstu.
                Podczas lektury czytelnik wciela się w bohatera, dokonuje wyborów i na ich podstawie odsyłany jest do
                kolejnych akapitów.
                Gry te są przeznaczone dla jednej osoby, choć zdarzają się książki dla większej liczby grających.</p>
            <h2>Historia gier paragrafowych</h2>
            <p>Lata 60. i 70. – powstały pierwsze interaktywne książki. Stopniowo do gatunku zaczęły być dodawane elementy
                rozgrywki zapożyczone z gier.
                Początkowo historie były utrzymane w konwencji fantastyki, ale z czasem pojawiły się również opowieści
                bardziej realistyczne.</p><br>
            <p>2. połowa lat 90. – gry paragrafowe zostały częściowo wyparte przez szybko rozwijające się gry
                komputerowe.</p><br>
            <p>Początek XXI w. – wraz z rozwojem nowych technologii, takich jak Internet, technologie mobilne czy edytory,
                ta forma rozrywki zaczęła się ponownie rozwijać.</p>
            </p>
            <h2>Rodzaje gier paragrafowych</h2>
            <p>Rozróżnia się kilka rodzajów gier paragrafowych:</p>
            <ul>
                <li><b>Labiryntowe</b> – miejscem akcji jest labirynt. Gracz musi odtworzyć mapę, walczyć z przeciwnikami i
                    osiągnąć cel danego scenariusza.
                    Rozgrywka posiada elementy losowe w postaci rzutów kostkami, a także parametry opisujące postać gracza.
                </li>
                <li><b>Fabularne</b> – kładą większy nacisk na fabułę i uczucie obecności w świecie przedstawionym. Oferują
                    wiele ścieżek fabularnych i zakończeń całej historii.
                    Nie zawierają elementów losowych i walki.
                </li>
                <li><b>Mieszane</b> – łączą elementy dwóch powyższych rodzajów. Zalicza się do nich również mieszanki gier
                    książkowych z grami planszowymi lub karcianymi.
                </li>
                <li><b>Nietekstowe</b> – dzielą się na gry dźwiękowe w postaci audiobooków oraz gry wizualne, czyli komiksy.
                </li>
            </ul>
            <h2>Inne zastosowania gier paragrafowych</h2>
            <p>Gry paragrafowe mogą służyć nie tylko dla celów rozrywkowych, ale też i dydaktycznych. Posiadają wiele
                walorów edukacyjnych, które można wykorzystać:</p>
            <ul>
                <li>w szkole,</li>
                <li>w bibliotece,</li>
                <li>do tworzenia interaktywnych kursów i poradników.</li>
            </ul>
        </div>
    </div>
{% endblock %}