{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="board text">
        <h2>Instrukcje</h2>
        <p>Aplikacja służy do tworzenia i przechodzenia <b>interaktywnych scenariuszy</b>.</p>
        <p>Scenariusz może być fikcyjną historią z wieloma rozgałęziającymi się <b>ścieżkami fabularnymi</b>, ale też może mieć strukturę <b>systemu doradczego</b>.</p>
        <p>W przypadku niektórych scenariuszy część pytań może mieć formę <b>reakcji</b> na poprzednie odpowiedzi, a nie kolejnych zapytań.</p>
        <h3>Użytkownik niezalogowany</h3>
        <p>Możesz przechodzić <b>scenariusze</b> stworzone przez innych użytkowników.</p>
        <p>Po wybraniu scenariusza z listy otrzymasz <b>pytanie startowe</b>.</p>
        <p>Po udzieleniu odpowiedzi zostaniesz odesłany do kolejnych <b>pytań</b>, w których musisz wybrać jedną z dostępnych <b>odpowiedzi</b>.</p><br>
        <p>W każdej chwili możesz <b>wznowić</b> ogrywanie obecnego scenariusza lub <b>zresetować</b> go.</p>
        <p>Niektóre scenariusze mają <b>możliwość cofania wyborów</b>.</p>
        <p>Możesz też przeglądać <b>profile twórców</b> poszczególnych scenariuszy.</p>
        <h3>Użytkownik zalogowany</h3>
        <p><b>Twój profil</b> - możesz tutaj zmodyfikować swoje dane: <b>nazwę</b> (o ile nie jest zajęta), <b>opis</b> i <b>hasło</b>. Masz tutaj również dostęp do <b>listy swoich scenariuszy</b> oraz linków do tworzenia, edycji i usuwania scenariuszy.</p>
        <p><b>Usunięcie konta</b> - możesz zadecydować czy usunięte zostaną również twoje scenariusze. Jeśli je zostawisz pozostaną one w bazie jako scenariusze bez autora.</p>
        <p><b>Edycja scenariusza</b> - tutaj możesz zmienić <b>nazwę</b> oraz <b>pytanie startowe</b>. Masz również dostęp do <b>listy pytań</b> oraz linków to tworzenia, edycji i usuwania ich.</p><br>
        <p><b>Ustawienie "Możliwość cofania"</b> - pozwala na <b>cofanie</b> wyborów podczas przechodzenia scenariusza.</p>
        <p><b>Ustawienie "Scenariusz publiczny"</b> - pozwala na upublicznienie scenariusza innym użytkownikom. Domyślnie scenariusz jest <b>ukryty</b>.</p>
        <p><b>Ustawienie "Wszyscy mogą edytować"</b> - uprawnia wszystkich użytkowników do edycji scenariusza. Nie mogą oni tylko usunąć scenariusza oraz zmieniać ustawień "Scenariusz publiczny" i "Wszyscy mogą edytować".</p><br>
        <p><b>Edycja pytania</b> - tutaj możesz zmienić <b>treść</b> pytania oraz zarządzać jego elementami.</p>
        <p><b>Słowo kluczowe</b> - pozwala na określenie pierwszego pytania scenariusza. Jeśli na początku scenariusza w odpowiedzi na pytanie startowe znajdzie się dane słowo kluczone, użytkownik zostanie odesłany do pytania z tym słowem.</p>
        <p><b>Tekst opcjonalny</b> - pojawi się przy spełnieniu odpowiednich warunków. Można ustawić <b>pytanie warunkowe</b>, którego wcześniejsze odwiedzenie jest wymagane do pojawienia się tekstu, oraz <b>pytanie wykluczające</b>, którego wcześniejsze odwiedzenie wyklucza możliwość pojawienia się tekstu.</p>
        <p><b>Odpowiedź</b> - odsyła do kolejnego pytania. Można ustawić <b>pytanie docelowe</b>, a także <b>pytanie warunkowe</b> oraz <b>pytanie wykluczające</b>, działające tak jak przy tekście opcjonalnym.</p><br>
        <p>Kliknięcie <b>"Zatwierdź zmiany"</b> jest wymagane do zapisania danych z <b>formularzy</b>. Dodawanie i usuwanie elementów tego nie wymaga.</p>
        <p>Odsyłacze do edycji scenariusza znajdują się również w module przechodzenia scenariusza.</p>
    </div>
{% endblock %}