{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="mainBoard">
        <div class="board text">
            <h1>Instrukcje</h1>
            <h2>Scenariusze</h2>
            <p>Lista scenariuszy daje dostęp do wszystkich <b>scenariuszy publicznych</b> stworzonych przez użytkowników.
                Jeśli jesteś <b>zalogowany</b>, znajdują się tutaj również stworzone przez ciebie <b>scenariusze prywatne</b> niewidoczne dla innych użytkowników.
                Możesz też przeglądać <b>profile twórców</b> poszczególnych scenariuszy.</p><br>
            <p>Po wybraniu scenariusza z listy otrzymasz <b>pytanie startowe</b>, na które musisz odpowiedzieć.
                Po poprawnym udzieleniu odpowiedzi będziesz odsyłany do kolejnych <b>pytań</b>, w których musisz wybrać jeden z dostępnych wariantów <b>odpowiedzi</b>.</p><br>
            <p>W każdej chwili możesz <b>wznowić</b> ogrywanie obecnego scenariusza, <b>zresetować</b> go lub zobaczyć dotychczasową historię podejścia.
                Niektóre scenariusze mają <b>możliwość cofania wyborów</b>.</p><br>
            <p>Aby stworzyć scenariusz musisz być <b>zalogowany</b>.
                Domyślnie stworzone scenariusze są <b>prywatne</b>, czyli ukryte dla innych użytkowników.</p>
            <h2>Historie</h2>
            <p>Historia to zapis konkretnego <b>podejścia do scenariusza</b>, czyli lista kolejnych pytań i odpowiedzi przechodzącego.
                Lista historii pozwala na przeglądanie <b>historii publicznych</b> zapisanych i upublicznionych przez użytkowników, a także, jeśli jesteś <b>zalogowany</b>, twoich <b>historii prywatnych</b> widocznych tylko dla ciebie.</p><br>
            <p>Zapisać dane podejście możesz tylko jako <b>zalogowany</b> użytkownik i po <b>zakończeniu scenariusza</b>, czyli jeśli natrafiłeś na pytanie, które nie ma już żadnych dostępnych odpowiedzi.
                Domyślnie zapisane historie są <b>prywatne</b>, czyli ukryte dla innych użytkowników.</p>
            <h2>Twój profil</h2>
            <p>Po zalogowaniu się, masz tutaj możliwość modyfikacji swoich danych: <b>nazwy</b>, <b>opisu</b> i <b>hasła</b>. Widoczna jest tutaj również <b>lista twoich scenariuszy i historii</b>.
                <b>Usunięcie konta</b> - możesz zadecydować czy usunięte zostaną również twoje scenariusze i historie. Jeśli je zachowasz pozostaną one w bazie jako scenariusze bez autora.</p>
            <h2>Edycja scenariusza</h2>
            <p>Możesz tutaj zmienić <b>nazwę</b>, <b>pytanie startowe</b>, <b>pierwsze pytanie scenariusza</b> oraz komunikat w przypadku nie znalezienia słów kluczowych w odpowiedzi na pytanie startowe. Masz tutaj również dostęp do <b>listy pytań</b> scenariusza.</p>
            <p><b>"Możliwość cofania"</b> - pozwala na <b>cofanie</b> wyborów podczas przechodzenia scenariusza.</p>
            <p><b>"Scenariusz publiczny"</b> - pozwala na upublicznienie scenariusza innym użytkownikom.</p>
            <p><b>"Wszyscy mogą edytować"</b> - uprawnia wszystkich użytkowników do edycji scenariusza (scenariusz musi być też jednoczesnie <b>publiczny</b>). Nie mogą oni tylko usunąć scenariusza oraz zmieniać ustawień "Scenariusz publiczny" i "Wszyscy mogą edytować".</p><br>
            <p><b>Słowa kluczowe</b> - lista słów pozwalająca na rozpoczęcie scenariusza. Jeśli na początku scenariusza w <b>odpowiedzi na pytanie startowe</b> znajdzie się co najmniej jedno ze zdefiniowanych słów kluczowych, użytkownik zostanie odesłany do <b>pierwszego pytania scenariusza</b>.
                W przeciwnym wypadku wyświetlany jest <b>komunikat o braku słów kluczowych</b>. Jeśli scenariusz nie posiada słów kluczowych, użytkownik zawsze zostanie przekierowany do pierwszego pytania scenariusza.</p>
            <h3>Edycja pytania</h3>
            <p>Możesz tutaj zmienić <b>treść</b> pytania oraz zarządzać jego <b>elementami</b>.</p>
            <p><b>Tekst opcjonalny</b> - pojawi się przy spełnieniu odpowiednich warunków.</p>
            <p><b>Odpowiedź</b> - odsyła do kolejnego pytania. Można ustawić <b>pytanie docelowe</b>, które definiuje do jakiego kolejnego pytania ma przekierowywać dana odpowiedź.</p><br>
            <p>Do tekstów opcjonalnych i odpowiedzi można dodawać odpowiedzi warunkowe i wykluczające, które decydują o pojawieniu się danego elementu pytania.</p>
            <p><b>Odpowiedź warunkowa</b> - dany tekst opcjonalny lub odpowiedź pojawią się tylko jeśli podczas przechodzenia scenariusza wybraliśmy <b>wszystkie</b> z odpowiedzi warunkowych.</p>
            <p><b>Odpowiedź wykluczająca</b> - dany tekst opcjonalny lub odpowiedź pojawią się tylko jeśli podczas przechodzenia scenariusza nie wybraliśmy <b>żadnej</b> z odpowiedzi wykluczających.</p><br>
            <p>Kliknięcie <b>"Zatwierdź zmiany"</b> jest wymagane do zapisania danych z <b>formularzy</b>. Dodawanie i usuwanie elementów tego nie wymaga.
                Przejść do edycji scenariusza można również podczas przechodzenia scenariusza.
                Przy tworzeniu scenariusza lepiej zacząć od stworzenia <b>pytań</b>, a następnie połączyć je <b>odpowiedziami</b>.</p>
        </div>
    </div>
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
    </div>
{% endblock %}