{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="mainBoard">
        <div class="board">
            <h1>Logowanie</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3 class="error">{{ message }}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('login') }}" method="post">
                    <h2>Nazwa użytkownika:</h2><p><input name='username' type="text" required="required"></p>
                    <h2>Hasło:</h2><p><input name='password' type="password" required="required"></p>
                    <p><input type="submit" value="Zaloguj się"></p>
            </form>
        </div>
    </div>
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
    </div>
{% endblock %}