{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    {% if wrongUsername %}
        <h2>Zła nazwa użytkownika</h2>
    {% elif wrongPassword  %}
        <h2>Złe hasło</h2>
    {% endif %}
    <form action="{{ url_for('login') }}" method="post">
            <h1>Nazwa użytkownika:</h1><p><input name='username' type="text" required="required"></p>
            <h1>Hasło:</h1><p><input name='password' type="password" required="required"></p>
            <p><input type="submit" value="Zaloguj się"></p>
    </form>
{% endblock %}