{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
    </div>
    <div class="mainBoard">
        <div class="board text">
            <h1>Interakcyjny Edytor Scenariuszy</h1>
            <p>Aplikacja służy do tworzenia i przechodzenia <b>interaktywnych scenariuszy</b>.
                Użytkownicy mogą dzielić się stworzonymi <b>scenariuszami</b> i <b>historiami</b>.
                Scenariusz może być fikcyjną opowieścią z wieloma rozgałęziającymi się <b>ścieżkami fabularnymi</b> lub mieć strukturę <b>systemu doradczego</b>.</p>
        </div>
    </div>
{% endblock %}