{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <p><a href="{{ url_for('menu') }}">Menu główne</a></p>
    <p><a href="{{ url_for('editScenario', createScenario=True) }}">Stwórz scenariusz</a></p>
    <div class="board">
        {% for key in scenarioList %}
            {% if scenarioList[key]['user'] == session['user'] %}
                <p><a href="{{ url_for('start', scenarioId=key) }}">{{ scenarioList[key]["name"] }}</a>
                    <a href="{{ url_for('editScenario', scenarioId=key) }}">Edycja</a>
                    <a class="deleteButton" href="{{ url_for('myProfile', deleteScenario=True, scenarioId=key) }}">Usuń</a>
                </p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}