{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <p><a href="{{ url_for('scenarios') }}">Lista scenariuszy</a></p>
    <div class="board">
        <p><a href="{{ url_for('start') }}">Reset scenariusza</a>
            {% if scenario['goBack'] %}<a href="{{ url_for('question', goBack=True) }}">Cofnij</a>{% endif %}</p>
        <h1>{{ scenario['name'] }}</h1>
        <h2>{{ scenario['questions'][questionId]['text'] }}</h2>
        {% if scenario['questions'][questionId]['optionalTexts'] != [] %}
            {% for optionalText in scenario['questions'][questionId]['optionalTexts'].values() %}
                <h2>{{ optionalText['text'] }}</h2>
            {% endfor %}
        {% endif %}
        {% for answerKey, answer in scenario['questions'][questionId]['answers'].items() %}
            <p><a href="{{ url_for('question', questionId = answer['questionId'], answerId = answerKey) }}">{{ answer['text'] }}</a></p>
        {% endfor %}
        <h3>Odwiedzone pytania:
        {% for question in session['scenarioPath'] %}
            {{ question }},
        {% endfor %}
        </h3>
        {% if isGranted %}
            <p><a href="{{ url_for('edit', questionId=questionId) }}">Edytuj pytanie</a></p>
        {% endif %}
    </div>
{% endblock %}