{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="mainBoard">
        <div class="board">
            <h1>{{ scenario['name'] }}</h1>
            <h2>{{ scenario['questions'][questionId]['text'] }}</h2>
            {% if scenario['questions'][questionId]['optionalTexts'] != [] %}
                {% for optionalText in optionalTexts.values() %}
                    <h2>{{ optionalText['text'] }}</h2>
                {% endfor %}
            {% endif %}
            {% for answerKey, answer in answers.items() %}
                <p><a href="{{ url_for('question', questionId = answer['questionId'], answerId = answerKey) }}">{{ answer['text'] }}</a></p>
            {% endfor %}
            {% if not answers %}
                <br><h2>KONIEC SCENARIUSZA</h2><br>
                {% if session.get('userId') %}
                    <p><a href="{{ url_for('currentStory', saveStory = True) }}">Zapisz historię</a></p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
        <div class="menuBoard">
            <h1>Menu kontekstowe</h1>
            <p><a href="{{ url_for('start') }}">Reset scenariusza</a></p>
            <p><a href="{{ url_for('currentStory') }}">Dotychczasowa historia</a></p>
                {% if scenario['goBack'] %}<p><a href="{{ url_for('question', goBack=True) }}">Cofnij</a>{% endif %}</p>
            {% if ownerExists %}
                <p><a href="{{ url_for('userProfile', userId=scenario['user']) }}">Profil twórcy</a></p>
            {% endif %}
            {% if isGranted %}
                <p><a href="{{ url_for('editQuestion', questionId=questionId) }}">Edytuj pytanie</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}