{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
    </div>
    <div class="mainBoard">
        <div class="board">
            <h1>Rejestracja</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <h3 class="error">{{ message }}</h3>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            <form action="{{ url_for('register') }}" method="post">
                    <h2>Nazwa użytkownika:</h2><p><input name='username' type="text" required="required" autofocus></p>
                    <h2>Hasło:</h2><p><input name='password' type="password" required="required"></p>
                    <h2>Powtórz hasło:</h2><p><input name='repeatPassword' type="password" required="required"></p>
                    <p><input type="submit" value="Zarejestruj się"></p>
            </form>
        </div>
    </div>
{% endblock %}