{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <p><a href="{{ url_for('menu') }}">Menu główne</a></p>
    <h2>{{ scenario['name'] }}</h2>
    <p>{{ scenario['questions'][id]['text'] }}</p>
    {% if scenario['questions'][id]['optionalText'] != [] and startingQuestionId == scenario['questions'][id]['optionalText'][0]['conditionalQuestionId'] %}
        <p>{{ scenario['questions'][id]['optionalText'][0]['text'] }}</p>
    {% endif %}
    {% for answer in scenario['questions'][id]['answers'] %}
        <p><a href="{{ url_for('scenario', id = answer['questionId']) }}">{{ answer['text'] }}<a><p>
    {% endfor %}
{% endblock %}