{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
        {% if session.get('userId') %}
            <div class="menuBoard">
                <button class="collapseMenu">&#9776 Menu kontekstowe</button>
                <div class="menuContent">
                    <p><a href="{{ url_for('editScenario', userId=session['userId']) }}">Stwórz scenariusz</a></p>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="mainBoard">
        <div class="board">
            <h1>Lista scenariuszy</h1>
            {% if session.get('userId') %}
                {% if isAdmin %}
                    <h2>Scenariusze prywatne:</h2>
                {% else %}
                    <h2>Moje scenariusze prywatne:</h2>
                {% endif %}
                {% if publicScenarioList['privateScenarios'] %}
                    {% for key in publicScenarioList['privateScenarios'] %}
                        <p class="blockList"><a href="{{ url_for('start', scenarioId=key) }}">{{ publicScenarioList['privateScenarios'][key] }}</a></p>
                    {% endfor %}
                {% else %}
                    <h3>Brak scenariuszy</h3>
                {% endif %}
            {% endif %}
            <h2>Scenariusze publiczne:</h2>
            {% if publicScenarioList['publicScenarios'] %}
                {% for key in publicScenarioList['publicScenarios'] %}
                    <p class="blockList"><a href="{{ url_for('start', scenarioId=key) }}">{{ publicScenarioList['publicScenarios'][key] }}</a></p>
                {% endfor %}
            {% else %}
                <h3>Brak scenariuszy</h3>
            {% endif %}
            <h2>Scenariusze publiczne z możliwością edycji przez wszystkich:</h2>
            {% if publicScenarioList['publicEditScenarios'] %}
                {% for key in publicScenarioList['publicEditScenarios'] %}
                    <p class="blockList"><a href="{{ url_for('start', scenarioId=key) }}">{{ publicScenarioList['publicEditScenarios'][key] }}</a></p>
                    {% if session.get('userId') %}
                        <p><a href="{{ url_for('editScenario', scenarioId=key) }}">Edytuj scenariusz</a></p><br>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h3>Brak scenariuszy</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}