{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <p><a href="{{ url_for('menu') }}">Menu główne</a></p>
    <p><a href="{{ url_for('list') }}">Lista scenariuszy</a></p>
    <div class="board">
        <h2>{{ session['scenario']['name'] }}</h2>
        {% if noKeyWords == True %}
            <h3>Nie znaleziono słów kluczowych. Spróbuj jeszcze raz.</h3>
        {% endif %}
        <h3>{{ session['scenario']['startingQuestion'] }}</h3>
        <form action="{{ url_for('start') }}" method="post">
            <p><input name='startingQuestion' type="text"></p>
            <input type="submit" value="Rozpocznij scenariusz">
        </form>
    </div>
{% endblock %}