{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <p><a href="{{ url_for('menu') }}">Menu główne</a></p>
    <p><a href="{{ url_for('scenarios') }}">Lista scenariuszy</a></p>
    {% if session.get('userId') and (scenarioList[session['scenarioId']]['user'] == session['userId'] or userList[session['userId']]['isAdmin'] == True) %}
        <p><a href="{{ url_for('editScenario') }}">Edytuj scenariusz</a></p>
    {% endif %}
    <div class="board">
        <h1>{{ scenarioList[session['scenarioId']]['name'] }}</h1>
        {% if noKeyWords == True %}
            <h3>Nie znaleziono słów kluczowych. Spróbuj jeszcze raz.</h3>
        {% endif %}
        <h2>{{ scenarioList[session['scenarioId']]['startingQuestion'] }}</h2>
        <form action="{{ url_for('start') }}" method="post">
            <p><input name='startingQuestion' type="text"></p>
            <p><input type="submit" value="Rozpocznij scenariusz"></p>
        </form>
        <h3>Obecne słowa kluczowe:
        {% for question in scenarioList[session['scenarioId']]['questions'] %}
            {% for keyWord in scenarioList[session['scenarioId']]['questions'][question]['keyWords'].values() %}
                {{ keyWord }},
            {% endfor %}
        {% endfor %}
        </h3>
        {% if scenarioList[session['scenarioId']]['user'] in userList %}
            <p><a href="{{ url_for('userProfile', userId=scenarioList[session['scenarioId']]['user']) }}">Profil twórcy</a></p>
        {% endif %}
    </div>
{% endblock %}