{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="board">
        <h1>{{ scenario['name'] }}</h1>
        <p>
        {% if ownerExists %}
            <a href="{{ url_for('userProfile', userId=scenario['user']) }}">Profil twórcy</a>
        {% endif %}
        {% if isGranted %}
            <a href="{{ url_for('editScenario') }}">Edytuj scenariusz</a>
        {% endif %}
        </p><br>
        {% if noKeyWords %}
            <h3>{{ scenario['noKeyWordsMessage'] }}</h3>
        {% endif %}
        <h2>{{ scenario['startingQuestion'] }}</h2>
        <form action="{{ url_for('start') }}" method="post">
            <p><input name='startingAnswer' type="text" required="required"></p>
            <p><input type="submit" value="Rozpocznij scenariusz"></p>
        </form>
        <h3>Obecne słowa kluczowe:
        {% for question in scenario['questions'] %}
            {% for keyWord in scenario['questions'][question]['keyWords'].values() %}
                {{ keyWord }},
            {% endfor %}
        {% endfor %}
        </h3>
    </div>
{% endblock %}