{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
    </div>
    <div class="mainBoard">
        <div class="board">
            <h1>Lista historii</h1>
            {% if session.get('userId') %}
                {% if isAdmin %}
                    <h2>Historie prywatne:</h2>
                {% else %}
                    <h2>Moje historie prywatne:</h2>
                {% endif %}
                {% if publicStoryList['privateStories'] %}
                    {% for key in publicStoryList['privateStories'] %}
                        <p class="blockList"><a href="{{ url_for('userStory', storyId=key) }}">{{ publicStoryList['privateStories'][key] }}</a></p>
                    {% endfor %}
                {% else %}
                    <h3>Brak historii</h3>
                {% endif %}
            {% endif %}
            <h2>Historie publiczne:</h2>
            {% if publicStoryList['publicStories'] %}
                {% for key in publicStoryList['publicStories'] %}
                    <p class="blockList"><a href="{{ url_for('userStory', storyId=key) }}">{{ publicStoryList['publicStories'][key] }}</a></p>
                {% endfor %}
            {% else %}
                <h3>Brak historii</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}