{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
        {% if scenario or scenarioOwnerExists or storyOwnerExists or isOwner %}
            <div class="menuBoard">
                <h1>Menu kontekstowe</h1>
                {% if scenario %}
                    <p><a href="{{ url_for('start', scenarioId=story['scenario']) }}">Rozpocznij ten scenariusz</a></p>
                {% endif %}
                {% if scenarioOwnerExists %}
                    <p><a href="{{ url_for('userProfile', userId=story['owner']) }}">Profil twórcy scenariusza</a></p>
                {% endif %}
                {% if storyOwnerExists %}
                    <p><a href="{{ url_for('userProfile', userId=story['user']) }}">Profil twórcy historii</a></p>
                {% endif %}
                {% if isOwner %}
                    <p><a class="deleteButton" href="{{ url_for('userStory', storyId=story['id'], deleteStory=True) }}">Usuń historię</a></p>
                {% endif %}
            </div>
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="messageBoard">
                        <h3>{{ message }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="mainBoard">
        {% if isOwner %}
            <div class="board">
                <form action="{{ url_for('userStory', storyId=story['id']) }}" method="post">
                    <h2>Nazwa historii:</h2><p><input name='name' type="text" required="required" value="{{ story['name'] }}" autofocus></p>
                    <h2>Historia publiczna:<input type="checkbox" name="public" value="true" {% if story['public'] %}checked{% endif %}></h2>
                    <p><input type="submit" value="Zapisz zmiany"></p>
                </form>
            </div>
        {% endif %}
        <div class="board">
            {% if not isOwner %}
                <h2>Nazwa historii: {{ story['name'] }}</h2>
            {% endif %}
            <h2>Nazwa scenariusza: {{ story['scenarioName'] }}</h2>
        </div>
        <div class="board">
            <h2>{{ story['startingQuestion'] }}</h2>
            <h3>{{ story['startingAnswer'] }}</h3>
        </div>
        {% for record in story['story'] %}
            <div class="board">
                <h2>{{ record['question'] }}</h2>
                {% if 'answer' in record.keys() %}
                    <h3>{{ record['answer'] }}</h3>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}