{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="menu contextMenu">
        {% include 'userMenu.html' %}
        {% if isAdmin or isProfileOwner %}
            <div class="menuBoard">
                <button class="collapseMenu">&#9776 Menu kontekstowe</button>
                <div class="menuContent">
                    {% if isProfileOwner or isAdmin %}
                        <p><a href="{{ url_for('editScenario', userId=userData['id']) }}">Stwórz scenariusz</a></p>
                    {% endif %}
                    {% if isProfileOwner or isAdmin %}
                        <p><a href="{{ url_for('changePassword', userId=userData['id']) }}">Zmień hasło</a></p>
                    {% endif %}
                    {% if isAdmin and not isProfileOwner %}
                        <p><a href="{{ url_for('grantAdmin', userId=userData['id']) }}">{% if userData['isAdmin'] %}Odbierz uprawnienia administratora{% else %}Nadaj uprawnienia administratora{% endif %}</a></p>
                    {% endif %}
                    {% if isProfileOwner or isAdmin %}
                        <p><a class="deleteButton" href="{{ url_for('deleteUser', userId=userData['id']) }}">Usuń konto</a></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="mainBoard">
        <div class="board">
            <h1>Profil użytkownika</h1>
            {% if isProfileOwner or isAdmin %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <h3 class="error">{{ message }}</h3>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="{{ url_for('userProfile', userId=userData['id']) }}" method="post">
                    <h2>Nazwa użytkownika:</h2><p><input name='username' type="text" required="required" value="{{ userData['username'] }}" autofocus></p>
                    <h2>Opis profilu:</h2><p><textarea rows="6" name="description">{{ userData['description'] }}</textarea></p>
                    <p><input type="submit" value="Zatwierdź zmiany"></p>
                </form>
            {% else %}
                <h2>Nazwa użytkownika: {{ userData['username'] }}</h2>
                {% if userData['description'] != '' %}
                    <h2>Opis profilu:</h2>
                    <h3>{{ userData['description'] }}</h3>
                {% endif %}
            {% endif %}
        </div>
        <div class="board">
            <h1>Scenariusze użytkownika:</h1>
            {% if isProfileOwner or isAdmin %}
                <h2>Scenariusze prywatne:</h2>
                {% if userScenarioList['privateScenarios'] %}
                    {% for key in userScenarioList['privateScenarios'] %}
                        <p><a href="{{ url_for('start', scenarioId=key) }}">{{ userScenarioList['privateScenarios'][key]|truncate(40) }}</a></p>
                        <p><a href="{{ url_for('editScenario', scenarioId=key) }}">Edytuj scenariusz</a></p>
                        <p><a class="deleteButton" href="{{ url_for('deleteScenario', scenarioId=key) }}">Usuń scenariusz</a></p><br>
                    {% endfor %}
                {% else %}
                    <h3>Brak scenariuszy</h3><br>
                {% endif %}
            {% endif %}
            <h2>Scenariusze publiczne:</h2>
            {% if userScenarioList['publicScenarios'] %}
                {% for key in userScenarioList['publicScenarios'] %}
                    <p><a href="{{ url_for('start', scenarioId=key) }}">{{ userScenarioList['publicScenarios'][key] }}</a></p>
                        {% if isProfileOwner or isAdmin %}
                            <p><a href="{{ url_for('editScenario', scenarioId=key) }}">Edytuj scenariusz</a></p>
                            <p><a class="deleteButton" href="{{ url_for('deleteScenario', scenarioId=key) }}">Usuń scenariusz</a></p><br>
                        {% endif %}
                {% endfor %}
            {% else %}
                <h3>Brak scenariuszy</h3><br>
            {% endif %}
            <h2>Scenariusze publiczne z możliwością edycji przez wszystkich:</h2>
            {% if userScenarioList['publicEditScenarios'] %}
                {% for key in userScenarioList['publicEditScenarios'] %}
                    <p><a href="{{ url_for('start', scenarioId=key) }}">{{ userScenarioList['publicEditScenarios'][key] }}</a></p>
                        {% if session.get('userId') %}
                            <p><a href="{{ url_for('editScenario', scenarioId=key) }}">Edytuj scenariusz</a></p>
                            {% if isProfileOwner or isAdmin %}
                                <p><a class="deleteButton" href="{{ url_for('deleteScenario', scenarioId=key) }}">Usuń scenariusz</a></p>
                            {% endif %}
                            <br>
                        {% endif %}
                {% endfor %}
            {% else %}
                <h3>Brak scenariuszy</h3><br>
            {% endif %}
        </div>
        <div class="board">
            <h1>Historie użytkownika:</h1>
            {% if isProfileOwner or isAdmin %}
                <h2>Historie prywatne:</h2>
                {% if userStoryList['privateStories'] %}
                    {% for key in userStoryList['privateStories'] %}
                        <p><a href="{{ url_for('userStory', storyId=key) }}">{{ userStoryList['privateStories'][key] }}</a></p>
                        <p><a class="deleteButton" href="{{ url_for('userStory', storyId=key, deleteStory=True) }}">Usuń historię</a></p><br>
                    {% endfor %}
                {% else %}
                    <h3>Brak historii</h3><br>
                {% endif %}
            {% endif %}
            <h2>Historie publiczne:</h2>
            {% if userStoryList['publicStories'] %}
                {% for key in userStoryList['publicStories'] %}
                    <p><a href="{{ url_for('userStory', storyId=key) }}">{{ userStoryList['publicStories'][key] }}</a></p>
                        {% if isProfileOwner or isAdmin %}
                            <p><a class="deleteButton" href="{{ url_for('userStory', storyId=key, deleteStory=True) }}">Usuń historię</a></p>
                        {% endif %}
                    <br>
                {% endfor %}
            {% else %}
                <h3>Brak historii</h3><br>
            {% endif %}
        </div>
    </div>
{% endblock %}