{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="board">
    {% if isAdmin %}
        <p><a href="{{ url_for('users') }}">Lista użytkowników</a></p>
    {% endif %}
    {% if usernameTaken %}
        <h3>Nazwa użytkownika zajęta</h3>
    {% endif %}
    {% if isProfileOwner or isAdmin %}
        <form action="{{ url_for('userProfile', userId=userData['id']) }}" method="post">
            <h1>Nazwa użytkownika:</h1><p><input name='username' type="text" required="required" value="{{ userData['username'] }}"></p>
            <h2>Opis profilu:</h2><p><input name='description' type="text" value="{{ userData['description'] }}"></p>
            <p><input type="submit" value="Zatwierdź zmiany"></p>
        </form>
    {% else %}
        <h1>Nazwa użytkownika: {{ userData['username'] }}</h1>
        {% if userData['description'] != '' %}
            <h2>Opis profilu:</h2>
            <h3>{{ userData['description'] }}</h3>
        {% endif %}
    {% endif %}
    {% if isProfileOwner or isAdmin %}
        <p><a href="{{ url_for('changePassword', userId=userData['id']) }}">Zmień hasło</a></p>
    {% endif %}
    {% if isAdmin and not isProfileOwner %}
        <p><a href="{{ url_for('grantAdmin', userId=userData['id']) }}">{% if userData['isAdmin'] %}Odbierz uprawnienia admina{% else %}Nadaj uprawnienia admina{% endif %}</a></p>
    {% endif %}
    {% if isProfileOwner or isAdmin %}
        <p><a class="deleteButton" href="{{ url_for('deleteUser', userId=userData['id']) }}">Usuń konto</a></p>
    {% endif %}
    </div>
    <div class="board">
    {% if isProfileOwner or isAdmin %}
        <p><a href="{{ url_for('editScenario', userId=userData['id']) }}">Stwórz scenariusz</a></p>
    {% endif %}
        <h1>Scenariusze użytkownika:</h1>
        {% if userScenarioList['privateScenarios'] %}
            <h2>Scenariusze prywatne:</h2>
        {% endif %}
        {% for key in userScenarioList['privateScenarios'] %}
            <p><a href="{{ url_for('start', scenarioId=key) }}">{{ userScenarioList['privateScenarios'][key] }}</a>
                <a href="{{ url_for('editScenario', scenarioId=key) }}">Edycja</a>
                <a class="deleteButton" href="{{ url_for('deleteScenario', scenarioId=key) }}">Usuń</a>
            </p>
        {% endfor %}
        {% if userScenarioList['publicScenarios'] %}
            <h2>Scenariusze publiczne bez możliwości edycji:</h2>
        {% endif %}
        {% for key in userScenarioList['publicScenarios'] %}
            <p><a href="{{ url_for('start', scenarioId=key) }}">{{ userScenarioList['publicScenarios'][key] }}</a>
                {% if isProfileOwner or isAdmin %}
                    <a href="{{ url_for('editScenario', scenarioId=key) }}">Edycja</a>
                    <a class="deleteButton" href="{{ url_for('deleteScenario', scenarioId=key) }}">Usuń</a>
                {% endif %}
            </p>
        {% endfor %}
        {% if userScenarioList['publicEditScenarios'] %}
            <h2>Scenariusze publiczne z możliwością edycji:</h2>
        {% endif %}
        {% for key in userScenarioList['publicEditScenarios'] %}
            <p><a href="{{ url_for('start', scenarioId=key) }}">{{ userScenarioList['publicEditScenarios'][key] }}</a>
                {% if session.get('userId') %}
                    <a href="{{ url_for('editScenario', scenarioId=key) }}">Edycja</a>
                {% endif %}
                {% if isProfileOwner or isAdmin %}
                    <a class="deleteButton" href="{{ url_for('deleteScenario', scenarioId=key) }}">Usuń</a>
                {% endif %}
            </p>
        {% endfor %}
    </div>
    <div class="board">
        <h1>Historie użytkownika:</h1>
        {% if userStoryList['privateStories'] %}
            <h2>Historie prywatne:</h2>
        {% endif %}
        {% for key in userStoryList['privateStories'] %}
            <p><a href="{{ url_for('userStory', storyId=key) }}">{{ userStoryList['privateStories'][key] }}</a>
                <a class="deleteButton" href="{{ url_for('userStory', storyId=key, deleteStory=True) }}">Usuń</a>
            </p>
        {% endfor %}
        {% if userStoryList['publicStories'] %}
            <h2>Historie publiczne:</h2>
        {% endif %}
        {% for key in userStoryList['publicStories'] %}
            <p><a href="{{ url_for('userStory', storyId=key) }}">{{ userStoryList['publicStories'][key] }}</a>
                {% if isProfileOwner or isAdmin %}
                    <a class="deleteButton" href="{{ url_for('userStory', storyId=key, deleteStory=True) }}">Usuń</a>
                {% endif %}
            </p>
        {% endfor %}
    </div>
{% endblock %}